<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span class="text-primary">
        <i class="fab fa-fort-awesome-alt"></i>
      </span>
      <%= Rails.configuration.application_name %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">

    </div>
  </div>
</nav>