<div class="container d-flex flex-column align-items-center">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 p-2">      
        <div class="card">
          <%= image_tag product.image.variant(resize_to_limit: [400, 400]), class: 'card-img-top' %>
          <div class="card-body">
            <p class="card-text"><%= product.description %></p>
            <div class="d-flex justify-content-between">
              <p class="card-text"><%= product.price.format %></p>
              <%= button_to "Purchase", checkouts_path, class:"btn btn-primary", params: { product_id: product.id } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>